.todo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.todo-nav-container .nav-item{
  width: 200px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.todo-nav-container .nav-item:before{
  content: "| ";
  color: white;
  font-weight: 300;
  padding-right: 20px;
}

.todo-nav-container .nav-item:first-child:before{
  content: "";
  padding-right: 5px;
}

.btn {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.todo-list-container{
  background-color: transparent;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.todo-list-item{
  margin: 0px 50px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 여기를 추가하세요 */
  
}

.content{
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 30px;

}

.icon-container{
  font-size: 3rem;
  align-items: center;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

